*.dat
*.elc
*scratch*
.org-id-locations
.places
/.emacs.d-master/
/bookmarks
/network-security.data
/org-templates/
/projectile-bookmarks.eld
/recentf
/url/
/var/
auto-save-list
backups/**
elpa
eshell/**
games
org-mode
places
session.**
tramp

