*.dat
*.elc
*scratch*
.DS_Store
.org-id-locations
.places
/url/
auto-save-list
backups/**
elpa
eshell/**
games
org-mode
places
session.*
tramp
/project-explorer-cache/!Users!abuckingham!tealeaf!course3!myflix!~
/projectile-bookmarks.eld
/recentf
/network-security.data
/bookmarks
/.emacs.d-master/
